[aria-current] {
  color: #abc;
}

[aria-current]:hover {
  color: #abc;
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
