.pagination {
  display: flex;
  list-style: none;
}
.pagination a {
  text-decoration: none;
}
.pagination a.page-link {
  background: #fff;
  padding: 8px 12px;
}
.pagination .active > .page-link {
  background: #0275d8;
  color: #fff;
  padding: 8px 12px;
}
[aria-current] {
  color: #abc;
}
[aria-current]:hover {
  color: #abc;
}
