{{/*
  Scope: team instructors data
  */}}

<div class="overflow-auto mv2">
  <table border="1" style="min-width:500px">
    <thead>
      <tr>
        <th align="center">役割</th>
        <th align="center">背番号</th>
        <th align="center">氏　　名</th>
      </tr>
    </thead>
    <tbody>
      {{ range .list }}
      <tr>
        <td align="center">{{ .role }}</td>
        <td align="center">{{ .number }}</td>
        <td align="center">{{ .name }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
